---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">How I Went from Newbie to Software Engineer While Working As A FullTime Mechanical Engineering Student
    </div>
  </div>

  <div class="mb-10 text-justify">
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Why I wanted to change careers
    </div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title=""
      subtitle="[sep 2015] to [July 2021] at [Alexandria University], [Alexandria,], [Egypt]"
    />
    <TimeLineElement
      title="Dip.FullStack Web Development "
      subtitle="[Sep 2021] to [March 20] at [Route Academy], [Alexandria], [Egypt]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Figure out the end goal </div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Sindion — Software Engineer (FullTime)"
      subtitle="From [Feb2021] to [Persent] at [sindion.com], [Alexandria], [Egypt]"
    >
      Responsible for developing technical solutions, handling them into
      efficient code. Coding Api's, database schemes and relations. Following up
      with the back-end team . Suggesting the suitable tech to use for each
      service Created the full Back-end for solution that serve the Saudi
      Housing Ministry that is used by +50 companies Developing the Technical
      process of RealState Evaluation for the Qatif Government at KSA Developed
      special TMS for sindion as replacement for Emails headache . Tech used:
      Laravel, MySQL, NodeJS .
    </TimeLineElement>
    <TimeLineElement
      title="RMZ Tech -Software Engineer Instructor (PartTime)"
      subtitle="From [August 2020 ] to [PRESENT] at [RMZ Tech], [Alexandria], [Egypt]"
    >
      Responsible for training computer science ,SSP and Pharos’s Computer
      Engineering students in summer training at RMZ tech company Develop and
      deliver programs of learning activities Filling the gap between academic
      education and the market <br />
      Topics : Api Design (RESTFUL API) , Php( Laravel Framework ) ,ES6 (Nodejs)
      ,MySql , MongoDB
    </TimeLineElement>
    <TimeLineElement
      title="Squadio — Back-end Engineer (Contract)      "
      subtitle="From [April 2020] to [oct 2021] at [Squadio], [ Alexandria], [Egypt]"
    >
      Participated in creating the backend for E-commerce web & mobile app
      called Mallers that has +10k users.<br />

      cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="TopLine — Full Stack Engineer (FullTime) "
      subtitle="From [April 2020 ] to [sep 2021	] at [TopLine], [ Cairo], [Egypt]"
    >
      Responsible for developing technical solutions, handling them into
      efficient code. Coding Api's, database schemes and relations Created the
      infrastructure of the web solutions. Completed lots of scraping script
      that serves some business needs. <br />
      Tech used: PHP , Laravel , MySQL , Vue Js
    </TimeLineElement>
  </div>
<!-- 
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div> -->

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>MYSQL</li>
    <li>PostgreSQL</li>
    <li>MongoDB</li>
    <li>Linux</li>
    <li>JavaScript</li>
    <li>NodeJS</li>
    <li>ExpressJS</li>
    <li>Laravel</li>
    <li>Python</li>
    <li>Python</li>
    <li>Django</li>
    <li>ReactJS</li>
    <li>Elixir</li>
    <li>Docker</li>
    <li>AWS</li>

  </ul>
</BaseLayout>
